* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: orange;
}

.recipe-container {
    background: white;
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
  }
.title{
    text-align: center;
    background: white;
}

img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 5px;

}
figcaption{
    text-align: right;
    background: white;
}
li, p {
    background: white;
}